Indicator_CSVs/
__pycache__/
backtest_results.txt
current_account_size_log.csv
long-only.csv
multiplier-change.csv
training_period-100.csv
percent-risk-change.csv
riskier-of-riskiest.csv
the-og-calculation.csv
Crash-in-2008.csv
gpc-goes-beserk.csv
gpc-is-ballsy-asf.csv
large-base-lookback.csv
stop-loss-percent-change.csv
livetest_day.txt
GME-Catch.csv
long-term-trend.csv
medium-term-trend.csv
short-term-trend.csv
__pycache__/
Intraday1Test.csv
